{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Current Items:</h2>
      <a href="{{url_for('new')}}"> Click here to add new item </a>
      <ul class="list-group mb-4">
           {% for Items in Items %}
            <li>{{Items['id']}}. {{Items['status']}}: {{Items['title']}}</li>
           {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}