{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Add a new item to your to do list</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Use below form to add new title:</h2>
        <form action="{{url_for('index')}}" method="POST">
            <input type="text" name="Title">
            <input type="submit" name="Another item for our list!">
        </form>
    </div>
  </div>
{% endblock %}