{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Show item using specific ID</h2>
      <ul class="list-group mb-4">
        <p>The ID you selected is: {{Items.id}}, {{Items.status}}, {{Items.title}}</p>
        <a href="{{url_for('update', id=Items.id)}}"> Mark item as complete! </a>
        <a href="{{url_for('delete', id=Items.id)}}"> Delete this item! </a>
      </ul>
    </div>
  </div>
{% endblock %}